@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */

.barraSuperior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8B0000;
    padding: 10px 20px;
    color: #fff;
}

.logo {
    margin-left: 80px;
    width: 60px;
    cursor: pointer;
    transition: all .3s;
}

.logo:hover {
    transform: scale(1.1);
}

.barraPesquisa {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    gap: 5px;
    flex: 1;
    max-width: 500px;
    margin: 0 20px;
}

.barraPesquisa input {
    border: none;
    outline: none;
    padding: 5px;
    flex: 1;
    color: #686868;
}

.material-symbols-outlined {
    font-size: 24px;
    cursor: pointer;
    transition: all .3s;
}

#lupa {
    color: #686868;
    transition: all .3s;
}

#carrinho {
    margin-right: 80px;
}

#carrinho:hover,
#pessoa:hover,
#lupa:hover {
    transform: scale(1.2);
}

.iconesUsuario {
    display: flex;
    gap: 15px;
}

.iconesUsuario .icone {
    font-size: 24px;
    cursor: pointer;
}

/* FIM HEADER */


/* MAIN */
.barraSuperior  a {
    color: white;
}

.banner {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

.cartoesInfo {
    display: flex;
    justify-content: space-evenly;
    margin: 80px 0;
}

.cartao {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#caminhao,
#cartao,
#cadeado {
    font-size: 40px;
    font-weight: 500;
    margin: 0 10px;
    color: #8B0000;
    cursor: default;
}

.categorias {
    text-align: center;
}

.categorias h2 {
    font-size: 35px;
}

.listaCategorias {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 10px;
}

.itemCategoria {
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 50%;
    width: 230px;
    height: 220px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s;
}

.itemCategoria:hover {
    transform: scale(1.1);
}

.newsletter {
    background-color: #f7f7f7;
    padding: 20px;
    margin: 60px 0;
    text-align: center;
}
  
.caixaNewsletter {
    background-color: #E8E7E7;
    padding: 20px;
    border-radius: 25px;
    width: 80%;
    margin: 0 auto;
}
  
.caixaNewsletter h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #8B0000;
}
  
.caixaNewsletter input {
    width: 35%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin: 10px;
    padding: 0px 30px;
}

.caixaNewsletter input::placeholder {
    margin: 20px;
}

.caixaNewsletter button {
    background-color: #8B0000;
    color: #fff;
    width: 15%;
    height: 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: all .3s;
}
  
.caixaNewsletter button:hover {
    background-color: #510202;
}
/* FIM MAIN */

/* FOOTER */
.conteudoRodape {
    display: flex;
    justify-content: center;
    gap: 220px;
    padding: 30px 0;
    background-color: #D9D9D9;
    color: black;
}

.logoRodape {
    width: 80px;
}

.linksRodape p, .infoRodape p, .contatoRodape p {
    margin-bottom: 10px;
    font-weight: bold;
}

ul {
    list-style: none;
}
/* FIM FOOTER */